#fr {
	margin-top: 30px;
	margin-left: 10px;
	width: 30vw;
	height: 40vh;
	background-color: red;
	background-image: linear-gradient(90deg, blue 33.3%, transparent 33.3%),
		linear-gradient(90deg, white 66.6%, transparent 66.6%);
	display: none;
}
#camerun {
	margin-top: 30px;
	margin-left: 10px;
	width: 30vw;
	height: 40vh;
	background-color: yellow;
	background-image: linear-gradient(90deg, green 33.3%, transparent 33.3%),
		linear-gradient(90deg, red 66.6%, transparent 66.6%);
	display: none;
}

#italia {
	margin-top: 30px;
	margin-left: 10px;
	width: 30vw;
	height: 40vh;
	background-color: red;
	background-image: linear-gradient(90deg, green 33.3%, transparent 33.3%),
		linear-gradient(90deg, white 66.6%, transparent 66.6%);
	display: none;
}

#argentina {
	margin-top: 30px;
	margin-left: 10px;
	width: 30vw;
	height: 40vh;
	background-color: rgb(80, 196, 235);
	background-image: linear-gradient(rgb(80, 196, 235) 33.3%, transparent 33.3%),
		linear-gradient(white 66.6%, transparent 66.6%);
	display: none;
}

#rusia {
	margin-top: 30px;
	margin-left: 10px;
	width: 30vw;
	height: 40vh;
	background-color: red;
	background-image: linear-gradient(white 33.3%, transparent 33.3%),
		linear-gradient(blue 66.6%, transparent 66.6%);
	display: none;
}

#alemania {
	margin-top: 30px;
	margin-left: 10px;
	width: 30vw;
	height: 40vh;
	background-color: gold;
	background-image: linear-gradient(black 33.3%, transparent 33.3%),
		linear-gradient(red 66.6%, transparent 66.6%);
	display: none;
}

#españa {
	margin-top: 30px;
	margin-left: 10px;
	width: 30vw;
	height: 40vh;
	background-color: red;
	background-image: linear-gradient(red 33.3%, transparent 33.3%),
		linear-gradient(yellow 66.6%, transparent 66.6%);
	display: none;
}

#holanda {
	margin-top: 30px;
	margin-left: 10px;
	width: 30vw;
	height: 40vh;
	background-color: blue;
	background-image: linear-gradient(red 33.3%, transparent 33.3%),
		linear-gradient(white 66.6%, transparent 66.6%);
	display: none;
}
